<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FruitShop Shopping Cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <style>
        .card {
            border: 1px solid #ccc;
        }
        .align-left {
            margin-left: auto;

        }
<!--        .button {-->
<!--  background-color: #4CAF50;-->
<!--  border: none;-->
<!--  color: white;-->
<!--  font-size: 16px;-->
<!--  }-->
<!--    .btn-quantity {-->
<!--        width: 40px;-->
<!--    }-->

</style>


    </style>
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div align="center">
    <h1>Shopping Cart</h1>
    <h3 th:text="${cart.size()}"/>

    <!--    <table border="1">-->
    <!--        <th>Product Name</th>-->
    <!--        <th>Product Desc</th>-->
    <!--        <th>Product Price</th>-->
    <!--        <th>Quantity</th>-->

    <!--        <tr th:each="instance,iter : ${cart}">-->
    <!--            <td th:text="${iter.index + 1}"/>-->
    <!--            <td th:text="${instance.key.productName}"/>-->
    <!--            <td th:text="${instance.key.productDesc}"/>-->
    <!--            <td th:text="${instance.key.productPrice}"/>-->
    <!--            <td th:text="${instance.value}"/>-->

    <!--        </tr>-->
    <!--    </table>-->
    <form th:action="@{/checkout}" >
        <button type="submit" class="btn btn-primary">
            Checkout
        </button>
    </form>
    <!--  <div th:if="${principal != null}">-->
    <!--    <h2>-->
    <!--      Welcome : <span th:text="${principal.name}"/> |-->
    <!--      <a th:href="@{/logout}" type="button"> Logout</a>-->
    <!--    </h2>-->
    <!--  </div>-->
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-striped table-bordered text-center">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">-</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">+</th>
                    <th scope="col">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="instance, iter : ${cart}">
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${instance.key.productName}"></td>
                    <td th:text="${instance.key.productDesc}"></td>
                    <td th:text="${instance.key.productPrice}"></td>
                    <td>
<!--                <a th:href="@{/cart/decrement/{productId}(productId=${instance.key.productId},
                                       quantity=${instance.value})}"  class="btn btn-primary">-</a>-->
                        <a th:href="@{/cart/decrement/{productId}(productId=${instance.key.productId})}"
                           class="btn btn-primary">-</a>
                    </td>
                    <td th:text="${instance.value}"></td>
                    <td>
                        <a th:href="@{/cart/increment/{productId}(productId=${instance.key.productId})}"
                           class="btn btn-primary">+</a>
                    </td>
<!--                    <td th:text="${(instance.key.productPrice * instance.value)}"></td>-->
                    <td th:text="${#numbers.formatDecimal(instance.key.productPrice * instance.value, 1, 2)}"></td>
                </tr>
                </tbody>
            </table>
            <div class="text-end">
                <strong>Total Sum: <span th:text="${totalSum}"></span></strong>
            </div>
        </div>
    </div>
</div>
</body>
</html>
